:host ::ng-deep .botao-grid {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

:host ::ng-deep bb-tag .tag.light.success {
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  background: #f2f4f8;
  color: #407d76;
  white-space: nowrap;
  vertical-align: middle;
}

.pcb-icon {
  color: #7f8a98;
}

.pcb-tag {
  margin: 0px;
}

.imagem-produto {
  height: 20px;
  width: 28px;
  border-radius: 4px;
}
