<bb-card>
  <bb-card-body>
    <div *ngIf="totalRegistros === 0">
      <div class="col">
        <small class="bb-p-small-ext bb-text-black">
          Não há resultados para a pesquisa.
        </small>
      </div>
    </div>
    <div *ngIf="totalRegistros > 0">
      <p id="desc-tabela" hidden>Listagem de Bandeiras</p>
      <table
        aria-describedby="desc-tabela"
        bb-table
        bbSort
        (bbSortChange)="onSortChange($event)"
        [dataSource]="dataSource"
        mode="compact"
      >
        <ng-container bbColumnDef="codigo">
          <th
            bbHeaderCell
            bb-sort-header
            *bbHeaderCellDef
            style="width: 20%"
            scope="col"
          >
            Código
          </th>
          <td bbCell bbCellAlign="left" *bbCellDef="let element">
            {{ element.codigo }}
          </td>
        </ng-container>

        <ng-container bbColumnDef="arquivo">
          <th bbHeaderCell *bbHeaderCellDef style="width: 20%" scope="col">
            Miniatura
          </th>
          <td bbCell bbCellAlign="left" *bbCellDef="let element">
            <img
              class="imagem-produto"
              alt=""
              [src]="
                element.codigoArquivo
                  ? obtemUrlImagemBandeira(element.codigoArquivo)
                  : ''
              "
            />
          </td>
        </ng-container>

        <ng-container bbColumnDef="nome">
          <th
            bbHeaderCell
            bb-sort-header
            *bbHeaderCellDef
            style="width: 25%"
            scope="col"
          >
            Nome
          </th>
          <td bbCell bbCellAlign="left" *bbCellDef="let element">
            {{ element.nome }}
          </td>
        </ng-container>

        <ng-container bbColumnDef="situacao">
          <th
            bbHeaderCell
            bb-sort-header
            *bbHeaderCellDef
            style="width: 20%"
            scope="col"
          >
            Situação
          </th>
          <td bbCell bbCellAlign="left" *bbCellDef="let element">
            <bb-tag-group>
              <bb-tag
                class="pcb-tag"
                [light]="true"
                [label]="formataSituacao(element.situacao)"
                [status]="element.situacao === 'ATIVO' ? 'success' : 'archived'"
                [icon]="{ icon: 'bullet', pack: 'bbds-ui' }"
              ></bb-tag>
            </bb-tag-group>
          </td>
        </ng-container>

        <ng-container bbColumnDef="acao">
          <th bbHeaderCell *bbHeaderCellDef style="width: 15%" scope="col"></th>
          <td
            bbCell
            bbCellAlign="right"
            *bbCellDef="let element"
            bbHeaderCellAction
          >
            <button
              bbIconButton
              size="regular"
              class="botao-grid"
              bbTooltip="Alterar"
              bbTooltipPlacement="top"
              (click)="abrirAlterar(element)"
              [disabled]="!usuario?.podeAdministrar()"
            >
              <bb-icon class="pcb-icon" pack="bbds-ui" icon="edit"></bb-icon>
            </button>

            <button
              bbIconButton
              size="regular"
              class="botao-grid"
              (click)="abreLog(element)"
              bbTooltip="Log"
              bbTooltipPlacement="top"
            >
              <bb-icon class="pcb-icon" pack="bbds-ui" icon="history"></bb-icon>
            </button>
          </td>
        </ng-container>

        <thead>
          <tr bb-header-row *bbHeaderRowDef="columns"></tr>
        </thead>

        <tbody>
          <tr bb-row *bbRowDef="let row; columns: columns"></tr>
        </tbody>
      </table>

      <bb-paginator
        #bbPaginatorTable
        [pageIndex]="filtro.pageIndex"
        [length]="totalRegistros"
        [pageSizeOptions]="[10, 20, 30, 50, 100]"
        [pageSize]="filtro.pageSize"
        type="personalized"
        (page)="onPageChange($event)"
      >
      </bb-paginator>
    </div>
  </bb-card-body>
</bb-card>
