:host ::ng-deep {
  .bb-label-small {
    align-items: flex-start;
    flex-direction: initial;
  }
  .bb-file-upload-disabled .bb-file-upload-box {
    display: none;
  }
}
.first-col {
  padding: 0;
  margin-bottom: 16px;
}
