:host ::ng-deep bb-tag .tag.light.warning {
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  background: #f2f4f8;
  color: #d8aa51;
  white-space: nowrap;
  vertical-align: middle;
}

hr {
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #e6eaee;
}

.pcb-detalhe-log-titulo {
  font-style: normal;
  color: #66707d;
  font-weight: 500;
  line-height: 112.5%;
  letter-spacing: 0.005em;
  padding: 0px 0px 0px 15px !important;
  margin: 0px !important;
}

.pcb-detalhe-log-div {
  padding-top: 15px;
  padding-left: 15px;
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 0px 5px;
  th {
    font-size: 16px !important;
    color: #001527;
    font-weight: 500;
  }
  td {
    font-size: 14px !important;
    vertical-align: top;
  }
}

.pcb-detalhe-log-fileira-1 {
  padding-bottom: 25px;
}

.pcb-detalhe-log-fileira-2 {
  padding-bottom: 15px;
}

.pcb-detalhe-log-alterado {
  color: #00578b;
}

.pcb-detalhe-log-normal {
  color: #66707d;
  font-weight: bold;
  font-weight: 400;
}

.pcb-detalhe-log-bandeira-div {
  padding-top: 5px;
  padding-left: 15px;
}

.imagem-bandeira {
  height: 35px;
  width: 45px;
  border-radius: 4px;
  vertical-align: super;
  margin-top: -15px;
  margin-left: 5px;
}
