<h1 class="bb-header-large">
  <button bbIconButton size="regular" (click)="fecharDetalhe()">
    <bb-icon size="regular" pack="bbds-ui" icon="back"></bb-icon>
  </button>
  Detalhe do log
</h1>
<bb-card>
  <bb-card-body>
    <div class="row pcb-detalhe-log-div">
      <p class="col pcb-detalhe-log-titulo bb-p-regular">
        {{ logBandeira.dataHora | date : "dd/MM/yyyy - HH:mm" }}
      </p>

      <p class="col pcb-detalhe-log-titulo bb-p-regular">
        {{ logBandeira.usuarioResponsavel }}
      </p>

      <p class="col pcb-detalhe-log-titulo bb-p-regular">
        <bb-tag
          [icon]="{ icon: 'bullet', pack: 'bbds-ui' }"
          [status]="
            logBandeira.tipoRegistro === 'ALTERACAO' ? 'warning' : 'default'
          "
          [light]="true"
          [label]="formataAcaoLog(logBandeira.tipoRegistro)"
        >
        </bb-tag>
      </p>
    </div>
    <hr />
    <div class="pcb-detalhe-log-bandeira-div">
      <p id="desc-tabela" hidden>Detalhe log da Bandeira</p>
      <table aria-describedby="desc-tabela" class="tabela">
        <tr>
          <th style="min-width: 33.5%" class="bb-header-regular" scope="col">
            Código
          </th>
          <th style="min-width: 6%" class="bb-header-regular" scope="col">
            Miniatura
          </th>
          <th rowspan="2" style="max-width: 56.5%" scope="col">
            <img
              class="imagem-bandeira"
              [src]="
                detalhesDoLog.codigoArquivo
                  ? obtemUrlImagemBandeira(detalhesDoLog.codigoArquivo)
                  : ''
              "
              alt=""
            />
          </th>
        </tr>
        <tr>
          <td
            class="pcb-detalhe-log-normal bb-p-small pcb-detalhe-log-fileira-1"
          >
            {{ detalhesDoLog.codigo }}
          </td>
          <td
            [ngClass]="
              camposAlterados.arquivo
                ? 'pcb-detalhe-log-normal'
                : 'pcb-detalhe-log-alterado bb-header-xxsmall'
            "
            class="bb-p-small pcb-detalhe-log-fileira-1"
          >
            {{ arquivo.nome ?? "-" }}
          </td>
        </tr>
        <tr>
          <th class="bb-header-regular" scope="col">Nome</th>
          <th class="bb-header-regular" scope="col">Situação</th>
        </tr>
        <tr>
          <td
            [ngClass]="
              camposAlterados.nome
                ? 'pcb-detalhe-log-normal'
                : 'pcb-detalhe-log-alterado bb-header-xxsmall'
            "
            class="bb-p-small pcb-detalhe-log-fileira-2"
          >
            {{ detalhesDoLog.nomeBandeira }}
          </td>
          <td
            [ngClass]="
              camposAlterados.situacao
                ? 'pcb-detalhe-log-normal'
                : 'pcb-detalhe-log-alterado bb-header-xxsmall'
            "
            class="bb-p-small pcb-detalhe-log-fileira-2"
          >
            {{ formataSituacao(detalhesDoLog.situacao) }}
          </td>
          <td></td>
        </tr>
      </table>
    </div>
  </bb-card-body>
</bb-card>
