:host ::ng-deep bb-tab-group.bb-tab-group .bb-tab-group-wrapper .bb-tab.active {
  color: #005f96;
  font-weight: 700;
  font-size: 14px;
  line-height: 112.5%;
  border-bottom: 2px solid #005f96;
}

:host ::ng-deep bb-tab-group.bb-tab-group .bb-tab-group-wrapper .bb-tab.disabled {
  border-bottom: 0.5px solid #b4b9c1;
}

:host ::ng-deep bb-tab-group.bb-tab-group .bb-tab-group-wrapper .bb-tab {
  font-weight: 700;
  font-size: 14px;
  line-height: 112.5%;
}

:host ::ng-deep .bb-text-field .bb-textfield-group input:focus {
  border-bottom-color: #005f96;
}

:host ::ng-deep .bb-select-field .selectButton:focus {
  border-bottom-color: #005f96;
}

:host ::ng-deep bb-tab-group.bb-tab-group .bb-tab-group-wrapper {
  margin-top: 0;
  margin-bottom: 0rem;
}

:host ::ng-deep bb-tab-group.bb-tab-group .bb-tab-group-wrapper .bb-tab:hover:not(.disabled) {
  border-bottom: 1px solid #005f96;
}

:host ::ng-deep .bb-sort-header-container.bb-sort-header-sorted .bb-sort-header-icon svg {
  fill: #005f96;
}

:host ::ng-deep .bb-sort-header-icon svg {
  width: 19px;
  height: 20px;
}
