<bb-tab-group #tabGroup (tabChange)="onChange($event.tabIndex)">
  <bb-tab title="CONSULTAR" [disabled]="desabilitaConsultar()">
    <pcb-consultar-bandeiras
      (emitAba)="onTrocaAba($event)"
      [abaAtual]="this.abaAtual.tabIndex"
    ></pcb-consultar-bandeiras>
  </bb-tab>
  <bb-tab title="INSERIR" [disabled]="desabilitaInserir()">
    <pcb-inserir-bandeiras
      (emitAba)="onTrocaAba($event)"
      [abaAtual]="this.abaAtual.tabIndex"
    ></pcb-inserir-bandeiras>
  </bb-tab>
  <bb-tab
    [title]="this.abaAtual.tabIndex === ABA_TAB_ALTERAR ? 'ALTERAR' : ''"
    [disabled]="this.abaAtual.tabIndex !== ABA_TAB_ALTERAR"
  >
    <pcb-inserir-bandeiras
      (emitAba)="onTrocaAba($event)"
      [abaAtual]="this.abaAtual.tabIndex"
      [bandeira]="bandeira"
    ></pcb-inserir-bandeiras>
  </bb-tab>
</bb-tab-group>
